<!DOCTYPE html>
<html>
<head>
  <title>Firebird | <%= yield(:title) %></title>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <%= stylesheet_link_tag 'screen', :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
