<!DOCTYPE html>
<html>
  <head>
    <title>Firebird | <%= yield(:title) %></title>
    <%= stylesheet_link_tag 'screen'  %>
    <%= stylesheet_link_tag 'custom', :media => 'screen'  %>
    <%= javascript_include_tag 'jquery-1.4.4', 'rails' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div class="header">
      <div class="container">
        <div class="logo">FireBird</div>
        <div class="primary-navigation">
          <%= render 'layouts/login_links' %>         
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <div class="flash">
          <%= render "layouts/error_messages" %>
        </div>
        <%= yield %>
        <%= debug(params) %>        
      </div>      
    </div>

    <div class="footer">
      <div class="container">
        <div class="primary-navigation">
          <ul>
            <li><%= link_to 'Home', '' %> |</li>
            <li><%= link_to 'About', '' %> |</li>
            <li><%= link_to 'Contact', '' %> </li>
          </ul>
        </div>
      </div>
    </div>

	<%= render 'shared/tcpsocket'%>
	<%= render 'shared/xmpp_client'%>

  </body>
</html>
